body {

    background-color: whitesmoke;

}
.createNewCanvas {
    outline-color: solid magenta;
    margin-left: 20px;
}

.enterCanvasHeight, .enterCanvasWidth {
    width: 50px;
    text-align: left;

}
.canvasDesign {
    border: 2px solid magenta;
    background-color: darkgray;
    margin-left: 20px;
    margin-top: 20px;
    width: 400px;
    height: 400px;
}