* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.createNewRoom {
    margin: 0 auto;
}
.enterRoomHeight, .enterRoomWidth {
    width: 50px;
    text-align: center;
}
.canvasDesign {
    border: 2px solid black;
    width: 0px;
    height: 0px;
}


