* {
    box-sizing: border-box;
}

body {
    margin: 20px;
}

.column1 {
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 600px;
    height: 800px;
}

.column2 {
    float: left;
    width: 400px;
    height: 400px;
}

.createNewRoom {
    margin-left: 0px;
}

.createNewRoom:after {
    content: "";
    display: table;
    clear: both;
}

.room {
    outline: 1px solid magenta;
}